img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
body {
	background-color: #00000f;
}
/*
     FILE ARCHIVED ON 11:30:05 Jun 07, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:05:27 Nov 30, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.57
  exclusion.robots: 0.022
  exclusion.robots.policy: 0.01
  esindex: 0.011
  cdx.remote: 7.46
  LoadShardBlock: 152.775 (3)
  PetaboxLoader3.datanode: 89.774 (4)
  PetaboxLoader3.resolve: 132.367 (2)
  load_resource: 91.26
*/
